/* custom-easymde.css */

/* Overall Editor Background */
.CodeMirror, .EasyMDEContainer {
    background-color: #1f293780; /* Dark background color */
    color: #ecf0f1; /* Light text color */
}

/* Toolbar Background */
.editor-toolbar {
    background: #1f293780;
}

/* Toolbar Buttons */
.editor-toolbar button {
    color: #ecf0f1; /* Light color for icons */
}

/* Active Toolbar Buttons */
.editor-toolbar button.active,
.editor-toolbar button:hover {
    background: #4a69bd; /* Slightly lighter background for active/hover states */
    color: #ffffff;
}

/* Preview Background */
.editor-preview {
    background-color: #1f293780;
    color: #ecf0f1;
}

.CodeMirror-cursor {
    border-left: 1px solid #ffffff; /* White cursor */
}

.CodeMirror, .editor-preview-side, .CodeMirror-gutters {
    background-color: #2c3e50; /* Dark background color */
    color: #ecf0f1; /* Light text color */
}

.editor-preview-side {
    border-left: 1px solid #34495e; /* Border between editor and preview */
}

/* Adjusting the color of text and headings in the preview pane */
.editor-preview-side h1, .editor-preview-side h2, .editor-preview-side h3, .editor-preview-side h4, .editor-preview-side h5, .editor-preview-side h6, .editor-preview-side p {
    color: #ecf0f1;
}

/* Ensuring high specificity and using !important to override existing styles */

/* Fullscreen background */
.EasyMDEContainer.fullscreen, 
.EasyMDEContainer.fullscreen .CodeMirror, 
.EasyMDEContainer.fullscreen .editor-preview-side {
    background-color: #2c3e50 !important; /* Dark background */
    color: #ecf0f1 !important; /* Light text color */
}

/* Toolbar in fullscreen */
.EasyMDEContainer.fullscreen .editor-toolbar {
    background: #34495e !important;
}

.EasyMDEContainer.fullscreen .editor-toolbar a {
    color: #ecf0f1 !important;
}

.EasyMDEContainer.fullscreen .editor-toolbar a.active, 
.EasyMDEContainer.fullscreen .editor-toolbar a:hover {
    background: #4a69bd !important;
}

/* Preview mode in fullscreen */
.EasyMDEContainer.fullscreen .editor-preview-side {
    background-color: #2c3e50 !important;
    color: #ecf0f1 !important;
}

.editor-toolbar.fullscreen{
    background: #34495e !important;
}

.CodeMirror-scroll {
    height: 100% !important;
    background: #34495e !important;
}

.EasyMDEContainer .CodeMirror-fullscreen {
    background: #34495e !important;
}
